<div ng-controller='customersController'>

  <!-- <div class="container"> -->

    <div class="jumbotron">
      <div class="container">
        <!-- <img class="jumbotron" src="img/basket.png" alt="shopping cart jumbotron" /> -->
        <h1>Mini Store Website</h1>
        <p>Check out this store template</p>
        <a href="#/partial5" class="btn btn-primary btn-lg btn_splash">Enter</a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>Customers are ordered by the time created and displayed on a table with a search option.</p>
          <a href="#/partial4"><span class="glyphicon glyphicon-user"></span> Customers</a>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <p>As admin you can add any product you like with name, description, and image. Images can easily be added with link.</p>
          <a href="#/partial2"><span class="glyphicon glyphicon-shopping-cart"></span> Products</a>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <p>Customers and products are dynamically added to the product page so that orders can be placed based on customer and product name.</p>
          <a href="#/partial3"><span class="glyphicon glyphicon-list"></span> Orders</a>
        </div>
      </div>
    </div>




  <!-- </div> -->


</div>
